/* Variables */
@media (orientation: portrait) {
  :root {
    --body-padding: 5vw;
  }
}

@media (orientation: landscape) {
  :root {
    --body-padding: 5vh;
  }
}

/* Size */
html {
  height: 100%;
}

body {
  /* Fonts */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;

  /* Padding, margin and stuff */
  padding: var(--body-padding);
  margin: 0;
  overflow: overlay;

  /* Background */
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Main content / Content box */
main {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 35em;

  border-radius: 20px;
  backdrop-filter: blur(20px);

  animation-timing-function: ease;

  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(219, 219, 219);
}

/* Text */
p {
  font-size: 0.9em;
}

h1 {
  color: white;
}

/* Hyperlinks*/
a:link,
a:visited {
  color: #1c9af5;
  text-decoration: none;
  transition: text-shadow 0.05s, color 0.1s;
}

:target,
a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  color: rgb(255, 255, 255);
}

a:hover {
  text-shadow: 1px 1px 20px #ffffff98;
}

/* Selection */
::selection {
  background: #00587e;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);

  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* Navigation bar */
nav {
  text-align: center;
  word-spacing: 10px;
}

nav a:link,
nav a:visited {
  color: #00000091;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 3px #ffffff;
}

/* Expanding underline */
nav a:after {
  display: block;
  content: "";

  position: relative;
  top: -4px;

  width: 0;
  height: 2px;
  background: #000;

  transition: width 0.1s;
}

nav a:hover:after {
  width: 100%;
}

/* Current page */
nav a#current {
  color: black;
}

nav a#current:after {
  width: 100%;
}

nav span {
  display: inline-block;
}
