<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="icon" href="/assets/images/eye.png" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={{ post.excerpt | strip_html }}>
</head>

<body>
  {% include navigation.html %}
  <main>
    {{ content }}
  </main>
</body>

</html>
